:root {
    --favcolor: rgb(255 65 75);
    --blackcolor: rgb(18, 18, 18);
}

.head-top {

    width: 100%;
    height: 100px;
    background-color: var(--blackcolor);

    >.row {
        padding: 0 7%;
        height: 100%;

        >* {
            height: 100%;
        }

        >figure {
            width: 25%;
            display: flex;
            align-items: center;
        }

        >nav {
            width: 60%;

            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;

                >li {
                    >a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        color: white;
                        padding: 25px;
                    }
                }
            }
        }

        >div {
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            >a {
                display: flex;
                width: 180px;
                height: 45px;
                background-color: rgb(32, 32, 178);
                color: white;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
            }
        }
    }
}

/*end header*/
.bg {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;

    >figure {
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            min-height: 100vh;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.41);
            z-index: 1;
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            position: relative;
        }
    }

    >.row {
        position: absolute;
        padding: 0 7%;
        top: 20%;
        z-index: 99;
        text-align: left;
        width: 60%;

        >* {
            width: 100%;
            text-transform: capitalize;
        }

        >h1 {
            color: var(--favcolor);
            font-size: 30px;
        }

        >h2 {
            color: white;
            padding: 30px 0;
            font-size: 50px;
        }

        >p {
            font-size: 18px;
            padding: 10px 0;
            color: rgba(255, 255, 255, 0.583);
        }

        >div {
            display: flex;
            padding: 30px;

            >a {
                display: flex;
                width: 220px;
                height: 50px;
                background-color: var(--blackcolor);
                color: white;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                margin: 0 10px;
            }
        }
    }
}

/*end bg*/
.services {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    >.row {
        width: 100%;
        height: auto;
        min-height: 100px;
        padding: 0 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        >div {
            width: 380px;
            height: auto;
            border: 4px solid #4154f1;
            padding: 50px 30px;
            text-align: center;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                transform: .4s;
            }

            >* {
                text-transform: capitalize;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                width: 100%;
                text-align: center;
            }

            >span {
                color: white;
                width: 150px;
                height: 150px;
                padding: 20px;
                font-size: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            >h3 {
                color: white;
                font-size: 25px;
            }

            >h4 {
                color: yellow;
                font-size: 20px;
                padding: 20px;
            }

            >p {
                color: rgba(255, 255, 255, 0.788);
                line-height: normal;
                padding: 20px;
            }

            >a {
                color: white;
                padding: 40px;
            }
        }

    }
}

/*end services*/
.fitt {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    >figure {
        height: 100vh;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        &::after {
            content: '';
            width: 100%;
            min-height: 100vh;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.41);
            z-index: 1;
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            position: relative;
            z-index: 0;
        }
    }

    >.row {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 0 7%;
        top: 30%;
        color: white;
        z-index: 2;
        gap: 20px;
        margin: auto;
        text-align: center;

        >* {
            text-align: center;
            text-transform: capitalize;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        >h3 {
            font-size: 50px;
            margin: 0;
        }

        >p {
            color: rgba(249, 241, 241, 0.758);
            font-size: 20px;
            margin: 0;
        }

        >a {
            width: fit-content;
            color: white;
            display: block;
            margin: auto;
            background-color: #4154f1;
            padding: 20px 30px;
            border-radius: 50px;

        }
    }

}

/*end fitt*/
.footer {
    width: 100%;
    height: 91.5vh;
    background-color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    >.row {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;

        >div {
            padding: 7%;

            &:nth-of-type(1) {
                width: 35%;

                >figure {
                    padding: 20px 0;
                }

                >p {
                    color: white;
                    padding: 20px 0;
                    width: 350px;
                }

                >span {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 38px;
                    height: 38px;
                    background-color: black;
                    border-radius: 50%;
                    margin-right: 8px;
                    overflow: hidden;
                    padding: 20px 0;

                    >a {
                        >svg {
                            width: 18px;
                            height: 18px;
                            display: block;
                        }
                    }

                }
            }

            &:nth-of-type(2) {
                width: 30%;

                >h4 {
                    color: white;
                    font-size: 18px;
                    padding: 20px 0;
                }

                >a {
                    color: white;
                    font-size: 16px;
                    padding: 10px 0;
                    display: block;
                    margin-bottom: 10px;
                }
            }

            &:nth-of-type(3) {
                width: 35%;

                >h4 {
                    color: white;
                    padding: 20px 0;
                    font-size: 18px;
                }

                >p {
                    color: white;
                    padding: 20px 0;
                    font-size: 16px;
                }
            }
        }
    }
}

/*end footer*/
.txtfooter {
    width: 100%;
    background-color: black;
    padding: 20px 0;

    >p {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: capitalize;
        font-size: 20px;
        color: white;
        text-align: center;
    }


}